:root{
    --Btnaccent: black;
}
.customBtn1 {
    border: 0px solid;
    outline: 2px solid;
    color: white;
    outline-color: white;
    outline-offset: 0px;
    padding-left: 50px;
    padding-right: 50px;
    text-shadow: none;
    cursor: pointer;
    font-size: 14px;
    max-width: 260px; 
    width: 100%; 
    /* letter-spacing: 0.3rem; */
    font-weight: 600;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    transition: all 550ms cubic-bezier(
        .36,.63,.5,.73
    );
}

.customBtn1:hover {
    border: 2px solid var(--Btnaccent);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color: var(--Btnaccent);
}

@media screen and (max-width: 768px) {
    .customBtn1 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .customBtn1:hover {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}
